---
export interface Props {
	head: string;
	desc: string;
    abc:string;
}

const { head, desc, abc} = Astro.props;
---
    
<section class="home h-screen flex justify-center items-center">
    <div>
        <h1 style="font-family: 'Archivo', 'sans-serif';" class="m-2 text-5xl md:text-6xl mb-2">{head}</h1>
        <h2 class="m-2 text-md md:text-xl">{desc}</h2>
        <div class="m-2  text-slate-400">
            <p class="text-[11px]">{abc} </p>
        </div>
    </div>
    <div class="hidden md:flex absolute bottom-0 left-0 right-0 m-auto w-5/6 pb-16 px-5 md:px-32 justify-between border-b-2">
        <span class="flex flex-col justify-center items-center">
            <h4 style="font-family: 'Archivo';" class="font-bold">FRAME</h4>
            <p>Wood Work</p>
        </span>
        <span class="flex flex-col justify-center items-center">
            <h4 style="font-family: 'Archivo';" class="font-bold">FRAME</h4>
            <p>Wood Work</p>
        </span>
        <span class="flex flex-col justify-center items-center">
            <h4 style="font-family: 'Archivo';" class="font-bold">FRAME</h4>
            <p>Wood Work</p>
        </span>
        <span class="flex flex-col justify-center items-center">
            <h4 style="font-family: 'Archivo';" class="font-bold">FRAME</h4>
            <p>Wood Work</p>
        </span>
    </div>
</section>


